<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--<add key="NoSqlConnectionString" value="mongodb://zewa.edea.gr/SenseDBTest" />-->
    <add key="NoSqlConnectionString" value="mongodb://localhost/SenseDB" />
    <add key="SqlConnectionString" value="" />
    <add key="NumOfTarinningSessions" value="1" />
    <add key="UserId" value="75" />
    <!--local edea-->
    <add key="SqlServer" value="localhost" />
    <add key="SqlDatabase" value="SenseApp" />
    <add key="SqlUser" value="sa" />
    <add key="SqlPassword" value="travt9l419" />
    <!--local-->
    <!--<add key="SqlServer" value="LENOVO-DEVPC\SQLSERVER_2012"/>
    <add key="SqlDatabase" value="SenseApp"/>
    <add key="SqlUser" value="sa"/>
    <add key="SqlPassword" value="123$Qwer"/>-->
    <!--view settinfgs-->
    <add key="SessionGraphsViewIsCommentsEditable" value="True" />
    <add key="SessionFullScreenViewIsCommentsEditable" value="True" />
    <!-- server language settings should support . as a decimal charachter -->
    <add key="GrasphZonesAlpha" value="0.2" />
    <add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="C:\Program Files (x86)\Microsoft Visual Studio 11.0\Team Tools\Performance Tools\vsinstr.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ViewUnitOfWork" connectionString="Data source=.;initial catalog=SenseApp;user id=sa;password=travt9l419;" providerName="System.Data.SqlClient" />
    <add name="SView" connectionString="Data source=sqlsrv;initial catalog=SenseApp_CloudMirror;user id=sa;password=123$Qwer;" providerName="System.Data.SqlClient" />-->
    <add name="ViewUnitOfWork" connectionString=" workstation id=SenseApp.mssql.somee.com;packet size=4096;user id=senseadmin;pwd=travt9l419;data source=SenseApp.mssql.somee.com;persist security info=False;initial catalog=SenseApp " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>