<?xml version="1.0" encoding="utf-8" ?>

<StructureMap MementoStyle="Attribute">
  <Registry Type="Business.IocBussinesRegistry,Business"></Registry>

  <!--<DefaultInstance

      PluginType="CoreWebApp.Helper.Interfaces.Controllers.IDailyInfoSummariesController,CoreWebApp"

      PluggedType="CoreWebApp.Helper.Controllers.DailyInfoSummariesController,CoreWebApp"

      Scope="Singleton" />-->


  <DefaultInstance

     PluginType="Business.Interfaces.IEnergyLevelInfoService,Business.Interfaces"

     PluggedType=" Business.EnergyLevelInfo.EnergyLevelService,Business"

     Scope="Singleton" />


  <DefaultInstance

     PluginType="Business.Interfaces.IQuestionnaireService,Business.Interfaces"

     PluggedType=" Business.Questionnaire.QuestionnaireServiceNew,Business"

     Scope="Singleton" />



  <DefaultInstance

     PluginType="Business.Interfaces.IDailyInfoService,Business.Interfaces"

     PluggedType=" Business.DailyInfo.DailyInfoService,Business"

     Scope="Singleton" />




  <DefaultInstance

     PluginType="Business.Interfaces.ITrainingDataService,Business.Interfaces"

     PluggedType=" Business.TrainningData.TrainingDataService,Business"

     Scope="Singleton" />

  <DefaultInstance

 PluginType="Business.Interfaces.IPlanService,Business.Interfaces"

 PluggedType=" Business.Plan.PlanService,Business"

 Scope="Singleton" />

  <DefaultInstance

     PluginType="Business.Interfaces.ITrainingSessionService,Business.Interfaces"

     PluggedType=" Business.View.TrainingSessionService,Business"

     Scope="Singleton" />


  <DefaultInstance

     PluginType="Business.Interfaces.IChatService,Business.Interfaces"

     PluggedType=" Business.Team.ChatService,Business"

     Scope="Singleton" />

  <DefaultInstance

   PluginType="Business.Interfaces.ILookUpsService,Business.Interfaces"

   PluggedType=" Business.Lookups,Business"

   Scope="Singleton" />


  <DefaultInstance

   PluginType="Business.Interfaces.IUserService,Business.Interfaces"

   PluggedType=" Business.User,Business"

   Scope="Singleton" />

  <DefaultInstance

  PluginType="Business.Interfaces.IPopularActivitiesTrackingService,Business.Interfaces"

  PluggedType=" Business.User,Business"

  Scope="Singleton" />


  <DefaultInstance

   PluginType="Business.Interfaces.ISensorService,Business.Interfaces"

   PluggedType=" Business.Sensors,Business"

   Scope="Singleton" />


  <DefaultInstance

   PluginType="Business.Interfaces.IEventsService,Business.Interfaces"

   PluggedType=" Business.Events.EventsService,Business"

   Scope="Singleton" />





</StructureMap>

